<%-include("../partials/header.ejs") %>
<%-include("../partials/sideBar.ejs") %>



    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <!-- <i class="bx bx-menu sidebarBtn"></i> -->
                <span class="dashbord">Admin Panel</span>
            </div>
            <!-- <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class="bx bx-search"></i>
            </div> -->
            <div class="profile-details">
                <img src="/images/adminProfile.png" alt="Admin pic">
                <span class="admin_name">Admin Name</span>
                <!-- <span><i class="bx bx-chevron-down"></i></span> -->
            </div>
        </nav>
    </section>


    <%-include("../partials/footer.ejs") %>