<div class="sidebar">
    <div class="logo-details">
       <span> <i class='bx bx-message-rounded-dots'></i></span>
        <span class="logo_name">BizChat</span>
    </div>
    <ul class="nav-links">
        <li class="">
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Admin Panel</span>
            </a>
        </li>
        <hr>
        <li class="">
            <a href="#">
                <span class="link_name">  Sub Admin</span>
            </a>
        </li>
  
        <li class="">
            <a href="/admin/adminpanel/add">
               <i class='bx bxs-user-plus'></i>
                <span class="link_name">Add  </span>
            </a>
        </li>
        <li class="">
            <a href="/admin/adminpanel/read">
               <i class='bx bxs-group'></i>
                <span class="link_name">Manage   </span>
            </a>
        </li>
        <!-- <li class="">
            <a href="#">
               <i class='bx bxs-user-detail'></i>
                <span class="link_name">Update  </span>
            </a>
        </li>
        <li class="">
            <a href="#">
               <i class='bx bxs-user-minus'></i>
                <span class="link_name">Delete  </span>
            </a>
        </li> -->
        <li class="">
            <a href="/admin/logout">
               <i class='bx bx-log-out'></i>
                <span class="link_name">Log out</span>
            </a>
        </li>
    </ul>
</div>